<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/create.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="button-container">
      <button id="logout-btn" class="button">Logout</button>
      <button id="generate-btn">
        <div id="generate">Generate</div>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.17 13L12.59 16.59L14 18L20 12L14 6L12.59 7.41L16.17
              11H4V13H16.17Z"
            fill="#FFFFFF"
          ></path>
        </svg>
      </button>
     
    </div>
    <!--    Tabs-->
    <div id="dashboard">
      <div class="tab">
        <button id="scrapbooks-tab" class="inactive-tab">My Scrapbooks</button>
        <button id="create-tab" class="active-tab">Create</button>
      </div>
      <!--Tab views-->
      <div class="create-content">
        <!--Create tab-->
        <div class="creator-bar">
          <!--Side bar-->
          <div class="container">
            <button class="drop-down" id="get-started-btn">
              <div class="caret-down">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12
                    9C13.6569 9 15 10.3431 15 12C15 12.7956 14.6839 13.5587
                    14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
              <div class="features">New page</div>
            </button>
            <div class="block">
              <div class="options-container">
                <h3>get started</h3>
              </div>
            </div>
          </div>
          <!--Images-->
          <div class="container">
            <button class="drop-down" id="images-btn">
              <div class="caret-down">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12
                    9C13.6569 9 15 10.3431 15 12C15 12.7956 14.6839 13.5587
                    14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
              <div class="features">Images</div>
            </button>
            <div class="block">
              <div class="options-container">
                <h3>upload</h3>
              </div>
            </div>
          </div>
          <!--Text-->
          <div class="container">
            <button class="drop-down" id="text-btn">
              <div class="caret-down">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12
                    9C13.6569 9 15 10.3431 15 12C15 12.7956 14.6839 13.5587
                    14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
              <div class="features">Text</div>
            </button>
            <div class="block">
              <div class="options-container">
                <div class="text-options-container">
                  <svg
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0
                    24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#1F345B"
                    ></path>
                    <path
                      d="M20 20V8H18.5L16 8.67V10.74L18 10.204V20H20Z"
                      fill="#1F345B"
                    ></path>
                  </svg>
                  <h4>heading 1</h4>
                </div>
              </div>
              <div class="options-container">
                <div class="text-options-container">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#1F345B"
                    ></path>
                    <path
                      d="M22 11.75C22 9.679 20.2091 8 18 8C15.7909 8 14 9.679 14
                      11.75H16.1333L16.1397 11.606C16.2176 10.707 17.0208 10 18
                      10C19.0304 10 19.8667 10.784 19.8667 11.75C19.8667 12.189
                      19.6939 12.591 19.408 12.898L14
                      18.444V20H22V18H17.5029L21.0187 14.21L21.1765
                      14.03C21.6928 13.398 22 12.607 22 11.75Z"
                      fill="#1F345B"
                    ></path>
                  </svg>
                  <h4>heading 2</h4>
                </div>
              </div>
              <div class="options-container">
                <div class="text-options-container">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#1F345B"
                    ></path>
                    <path
                      d="M21.7287 10L21.7309 8H14.5V10H18.8784L15.7018
                      13.2829L17.1087 14.7984C17.3649 14.6798 17.6555 14.6122
                      17.9634 14.6122C19.0032 14.6122 19.8471 15.3802 19.8471
                      16.3265C19.8471 17.2728 19.0032 18.0408 17.9634
                      18.0408C17.0463 18.0408 16.282 17.4442 16.1141 16.6547L14
                      17.0289C14.3606 18.7216 15.9978 20 17.9634 20C20.1927 20
                      22 18.3553 22 16.3265C22 14.6348 20.7438 13.2095 19.0323
                      12.7833L21.7287 10Z"
                      fill="#1F345B"
                    ></path>
                  </svg>
                  <h4>heading 3</h4>
                </div>
              </div>
            </div>
          </div>
          <!--Music-->
          <div class="container">
            <button class="drop-down" id="music-btn">
              <div class="caret-down">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12
                    9C13.6569 9 15 10.3431 15 12C15 12.7956 14.6839 13.5587
                    14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
              <div class="features">Music</div>
            </button>
            <div class="block">
              <div class="search">
                <h3>add a song</h3>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12
                    2C17.5228 2 22 6.47715 22 12C21.9939 17.5203 17.5203 21.9939
                    12 22ZM4 12.172C4.04732 16.5732 7.64111 20.1095 12.0425
                    20.086C16.444 20.0622 19.9995 16.4875 19.9995 12.086C19.9995
                    7.68451 16.444 4.10977 12.0425 4.086C7.64111 4.06246 4.04732
                    7.59876 4 12V12.172ZM10 16.5V7.5L16 12L10 16.5Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <!--Maps-->
          <div class="container">
            <button class="drop-down" id="maps-btn">
              <div class="caret-down">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12
                    9C13.6569 9 15 10.3431 15 12C15 12.7956 14.6839 13.5587
                    14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
              <div class="features">Maps</div>
            </button>
            <div class="block">
              <div class="search">
                <h3>pin location</h3>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 21C10.7369 19.9226 9.56619 18.7415 8.5 17.469C6.9
                    15.558 5 12.712 5 9.99999C4.99858 7.16754 6.70425 4.61338
                    9.32107 3.52939C11.9379 2.44539 14.9501 3.04523 16.952
                    5.04899C18.2685 6.3596 19.0059 8.14238 19 9.99999C19 12.712
                    17.1 15.558 15.5 17.469C14.4338 18.7415 13.2631 19.9226 12
                    21ZM12 6.99999C10.9282 6.99999 9.93782 7.57179 9.40193
                    8.49999C8.86603 9.42819 8.86603 10.5718 9.40193 11.5C9.93782
                    12.4282 10.9282 13 12 13C13.6569 13 15 11.6568 15 9.99999C15
                    8.34313 13.6569 6.99999 12 6.99999Z"
                    fill="#2E3A59"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <!-- Creator canvas -->
        <div id="top-bar">
          <div id="title">Title</div>
        </div>
        <div id="canvas">
          <!--Form-->
          <form id="create-page-form" action="#">
            <div id="get-started-content">
              <h1>get started</h1>
              <h2>create a new page to add to your scrapbook</h2>
              <div class="search">
                <div id="get-started-container">
                  <div>
                    <h2>select scrapbook</h2>
                    <input
                      class="search-box"
                      id="scrapbook-name"
                      name="scrapbook-name"
                      type="text"
                      placeholder="my scrapbook"
                    />
                  </div>
                  <div>
                    <h2>page title</h2>
                    <input
                      class="search-box"
                      id="page-title"
                      name="page-title"
                      type="text"
                      placeholder="my page"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="images-content">
              <h1>images</h1>
              <h2>upload three images for your page</h2>
              <div id="upload-container">
                <label for="image-1-upload">
                  <div class="image-container">
                    <h3>image 1</h3>
                    <input
                      name="image-1"
                      size="40"
                      type="file"
                      id="image-1-upload"
                      style="display: none"
                      accept="image/*"
                    />
                    <button disabled id="image-1" class="upload">
                      <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0)">
                          <path
                            d="M18.9999 20H5.99992C2.87429 20.0018 0.270809
                            17.6038 0.0162787 14.4886C-0.238251 11.3733 1.94144
                            8.58453 5.02592 8.07899C6.44563 5.56188 9.11003
                            4.0035 11.9999 3.99993C13.8019 3.99312 15.5524
                            4.60129 16.9619 5.72399C18.346 6.82185 19.33 8.34497
                            19.7619 10.058C22.3458 10.455 24.1877 12.7755
                            23.9879 15.3821C23.7882 17.9887 21.6141 20.0014
                            18.9999 20ZM11.9999 5.99998C9.83163 6.00255 7.83259
                            7.17209 6.76792 9.06099L6.29992 9.89999L5.35091
                            10.055C3.3012 10.3984 1.85592 12.2543 2.02513
                            14.3257C2.19433 16.3971 3.92164 17.9938 5.99992
                            18H18.9999C20.5685 18.0016 21.8735 16.7946 21.9941
                            15.2307C22.1147 13.6667 21.0102 12.2739 19.4599
                            12.035L18.1439 11.835L17.8219 10.543C17.1572 7.8698
                            14.7545 5.99495 11.9999 5.99998ZM13.4499
                            16H10.5499V13H7.99992L11.9999 8.99999L15.9999
                            13H13.4499V16Z"
                            fill="#2E3A59"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="clip0">
                            <rect width="24" height="24" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </button>
                  </div>
                  <h5 id="image-1-name">Upload</h5>
                </label>
                <label for="image-2-upload">
                  <div class="image-container">
                    <h3>image 2</h3>
                    <input
                      name="image-2"
                      size="40"
                      type="file"
                      id="image-2-upload"
                      style="display: none"
                      accept="image/*"
                    />
                    <button disabled class="upload">
                      <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0)">
                          <path
                            d="M18.9999 20H5.99992C2.87429 20.0018 0.270809
                            17.6038 0.0162787 14.4886C-0.238251 11.3733 1.94144
                            8.58453 5.02592 8.07899C6.44563 5.56188 9.11003
                            4.0035 11.9999 3.99993C13.8019 3.99312 15.5524
                            4.60129 16.9619 5.72399C18.346 6.82185 19.33 8.34497
                            19.7619 10.058C22.3458 10.455 24.1877 12.7755
                            23.9879 15.3821C23.7882 17.9887 21.6141 20.0014
                            18.9999 20ZM11.9999 5.99998C9.83163 6.00255 7.83259
                            7.17209 6.76792 9.06099L6.29992 9.89999L5.35091
                            10.055C3.3012 10.3984 1.85592 12.2543 2.02513
                            14.3257C2.19433 16.3971 3.92164 17.9938 5.99992
                            18H18.9999C20.5685 18.0016 21.8735 16.7946 21.9941
                            15.2307C22.1147 13.6667 21.0102 12.2739 19.4599
                            12.035L18.1439 11.835L17.8219 10.543C17.1572 7.8698
                            14.7545 5.99495 11.9999 5.99998ZM13.4499
                            16H10.5499V13H7.99992L11.9999 8.99999L15.9999
                            13H13.4499V16Z"
                            fill="#2E3A59"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="clip0">
                            <rect width="24" height="24" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </button>
                  </div>
                  <h5 id="image-2-name">Upload</h5>
                </label>
                <label for="image-3-upload">
                  <div class="image-container">
                    <h3>image 3</h3>
                    <input
                      name="image-3"
                      size="40"
                      type="file"
                      id="image-3-upload"
                      style="display: none"
                      accept="image/*"
                    />
                    <button disabled class="upload">
                      <svg
                        width="40"
                        height="40"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0)">
                          <path
                            d="M18.9999 20H5.99992C2.87429 20.0018 0.270809
                            17.6038 0.0162787 14.4886C-0.238251 11.3733 1.94144
                            8.58453 5.02592 8.07899C6.44563 5.56188 9.11003
                            4.0035 11.9999 3.99993C13.8019 3.99312 15.5524
                            4.60129 16.9619 5.72399C18.346 6.82185 19.33 8.34497
                            19.7619 10.058C22.3458 10.455 24.1877 12.7755
                            23.9879 15.3821C23.7882 17.9887 21.6141 20.0014
                            18.9999 20ZM11.9999 5.99998C9.83163 6.00255 7.83259
                            7.17209 6.76792 9.06099L6.29992 9.89999L5.35091
                            10.055C3.3012 10.3984 1.85592 12.2543 2.02513
                            14.3257C2.19433 16.3971 3.92164 17.9938 5.99992
                            18H18.9999C20.5685 18.0016 21.8735 16.7946 21.9941
                            15.2307C22.1147 13.6667 21.0102 12.2739 19.4599
                            12.035L18.1439 11.835L17.8219 10.543C17.1572 7.8698
                            14.7545 5.99495 11.9999 5.99998ZM13.4499
                            16H10.5499V13H7.99992L11.9999 8.99999L15.9999
                            13H13.4499V16Z"
                            fill="#2E3A59"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="clip0">
                            <rect width="24" height="24" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </button>
                  </div>
                  <h5 id="image-3-name">Upload</h5>
                </label>
              </div>
            </div>
            <div id="text-content">
              <h1>captions</h1>
              <h2>add in captions for your photos</h2>
              <div class="search">
                <button class="search-button" id="search">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#E5E5E5"
                    ></path>
                    <path
                      d="M20 20V8H18.5L16 8.67V10.74L18 10.204V20H20Z"
                      fill="#E5E5E5"
                    ></path>
                  </svg>
                </button>
                <input
                  class="search-box"
                  id="h1"
                  name="h1"
                  type="text"
                  placeholder="Rome 02/15/2020"
                />
              </div>
              <div class="search">
                <button class="search-button" id="search">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#E5E5E5"
                    ></path>
                    <path
                      d="M22 11.75C22 9.679 20.2091 8 18 8C15.7909 8 14 9.679 14
                      11.75H16.1333L16.1397 11.606C16.2176 10.707 17.0208 10 18
                      10C19.0304 10 19.8667 10.784 19.8667 11.75C19.8667 12.189
                      19.6939 12.591 19.408 12.898L14
                      18.444V20H22V18H17.5029L21.0187 14.21L21.1765
                      14.03C21.6928 13.398 22 12.607 22 11.75Z"
                      fill="#E5E5E5"
                    ></path>
                  </svg>
                </button>
                <input
                  class="search-box"
                  id="h2"
                  name="h2"
                  type="text"
                  placeholder="day one"
                />
              </div>
              <div class="search">
                <button class="search-button" id="search">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 4V11H4V4H2V20H4V13H10V20H12V4H10Z"
                      fill="#E5E5E5"
                    ></path>
                    <path
                      d="M21.7287 10L21.7309 8H14.5V10H18.8784L15.7018
                      13.2829L17.1087 14.7984C17.3649 14.6798 17.6555 14.6122
                      17.9634 14.6122C19.0032 14.6122 19.8471 15.3802 19.8471
                      16.3265C19.8471 17.2728 19.0032 18.0408 17.9634
                      18.0408C17.0463 18.0408 16.282 17.4442 16.1141 16.6547L14
                      17.0289C14.3606 18.7216 15.9978 20 17.9634 20C20.1927 20
                      22 18.3553 22 16.3265C22 14.6348 20.7438 13.2095 19.0323
                      12.7833L21.7287 10Z"
                      fill="#E5E5E5"
                    ></path>
                  </svg>
                </button>
                <input
                  class="search-box"
                  id="h3"
                  name="h3"
                  type="text"
                  placeholder="summer mornings"
                />
              </div>
            </div>
            <div id="music-content">
              <h1>music</h1>
              <h2>drop in a song to add from Spotify</h2>
              <div class="search">
                <input
                  class="search-box"
                  id="search-song-input"
                  name="song"
                  type="text"
                  placeholder="see you again"
                />
                <button class="search-button" id="search-song-button">
                  <svg
                    fill="currentColor"
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M18.677 19.607L12.962 13.891C10.4196 15.6985 6.91642
                      15.2564 4.90285 12.8739C2.88929 10.4915 3.03714 6.96361
                      5.24298 4.75802C7.44824 2.55147 10.9765 2.40298 13.3594
                      4.41644C15.7422 6.42989 16.1846 9.93347 14.377
                      12.476L20.092 18.192L18.678 19.606L18.677 19.607ZM9.48498
                      5.00001C7.58868 4.99958 5.95267 6.3307 5.56745
                      8.18745C5.18224 10.0442 6.15369 11.9163 7.89366
                      12.6703C9.63362 13.4242 11.6639 12.8529 12.7552
                      11.3021C13.8466 9.75129 13.699 7.64734 12.402
                      6.26402L13.007 6.86402L12.325 6.18402L12.313
                      6.17202C11.5648 5.4192 10.5464 4.99715 9.48498 5.00001Z"
                      fill="#2E3A59"
                    ></path>
                  </svg>
                </button>
              </div>
              <div id="display-song-content">
                <div>
                  <img id="song-cover" src="" />
                  <div>
                    <h5 id="song-name" class="song-text"></h5>
                    <h5 id="song-artist" class="song-text"></h5>
                  </div>
                </div>
              </div>
            </div>

            <div id="maps-content">
              <h1>maps</h1>
              <h2>pin your location</h2>
              <div class="search">
                <input
                  class="search-box"
                  id="search-map-input"
                  name="location"
                  type="text"
                  placeholder="Rome, Italy"
                />
                <button class="search-button" id="search-maps-button">
                  <svg
                    fill="currentColor"
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M12 21C10.7369 19.9226 9.56619 18.7415 8.5 17.469C6.9
                      15.558 5 12.712 5 9.99999C4.99858 7.16754 6.70425 4.61338
                      9.32107 3.52939C11.9379 2.44539 14.9501 3.04523 16.952
                      5.04899C18.2685 6.3596 19.0059 8.14238 19 9.99999C19
                      12.712 17.1 15.558 15.5 17.469C14.4338 18.7415 13.2631
                      19.9226 12 21ZM12 6.99999C10.9282 6.99999 9.93782 7.57179
                      9.40193 8.49999C8.86603 9.42819 8.86603 10.5718 9.40193
                      11.5C9.93782 12.4282 10.9282 13 12 13C13.6569 13 15
                      11.6568 15 9.99999C15 8.34313 13.6569 6.99999 12 6.99999Z"
                      fill="#2E3A59"
                    ></path>
                  </svg>
                </button>
              </div>
              <div id="display-map-content">
                <div>
                  <img id="map-image" src="" />
                </div>
              </div>
              <!--Submit form to server when clicked-->
            </div>
          </form>
          <p class="error" id="form-error"></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../js/create.js"></script>
    <script type="text/javascript" src="../js/utils.js"></script>
  </body>
</html>
