<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/exportPage.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="button-container">
      <button id="logout-btn" class="button">Logout</button>
      <button id="create-more-btn" class="button">Create More</button>
    </div>
    <div id="background">
      <div id="bookCover">
        <div id="bookLeft">
          <div class="header">
            <h3 id="title">title</h3>
            <h5 id="heading-1" class="heading">heading 1</h5>
            <h5 id="user" class="subtitle">By Jessica Day</h5>
          </div>
          <img
            class="image"
            id="image-1"
            src="https://via.placeholder.com/300x300.png?text=image+1"
          />
          <h2 id="heading-2">heading 2</h2>
          <div id="music">
            <div>
              <img
                id="playlist-cover"
                src="https://i1.sndcdn.com/artworks-000243872165-8oak92-t500x500.jpg"
              />
              <div id="playIcon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="50px"
                  viewBox="0 0 24 24"
                  width="50px"
                  fill="#ffffff"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 5v14l11-7z" />
                </svg>
              </div>
              <div>
                <h5 id="song-name" class="text">see you again</h5>
                <h5 id="artist-name" class="text">tyler, the creator</h5>
              </div>
            </div>
          </div>
        </div>
        <div id="bookmark"></div>
        <div id="bookRight">
          <div id="image-3-container">
            <img
              class="image"
              id="image-3"
              src="https://via.placeholder.com/200x300.png?text=image+3"
            />
            <div id="heading-3-map-container">
              <h2 id="heading-3">heading 3</h2>
              <img
                id="map"
                class="image"
                src="https://via.placeholder.com/250x250.png?text=map"
              />
            </div>
          </div>
          <div id="image-2-container">
            <img
              class="image"
              id="image-2"
              src="https://via.placeholder.com/500x200.png?text=image+2"
            />
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../js/export.js"></script>
  <script type="text/javascript" src="../js/utils.js"></script>
</html>
