.button {
    border-radius: 10px;
    background-color: #E26D5A;
    padding: 15px 30px;
    color: white;
    box-shadow: -2px 0 5px #07070765;
    border: none;
    font-family: Raleway;
    font-size: 1.2rem;
}

.card {
    background-color: #1F345B;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 10px #07070765;
}

@font-face {
    font-family: 'Augify';
    src: url('/designSystem/fonts/Augify.otf');
}

body {
    margin: 0;
    background-color: #DBBEA1;
}
h1 {
    font-family: 'Augify';
    font-weight: normal;
    color: #1F345B;
    font-size: 130px;
    padding:0px;
    margin:0px;
}
h2 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #1F345B;
    padding:0px;
    margin:0px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 250px;
    left: 50px;
}